.bg-navbar-style {
    color: #fff;
    background-color: #222;
    border-color: #080808;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
}
/*
.btn-circle {
	line-height: 1.428571429;
	border-radius: 50px;
}
*/

/*
nav-brand to center
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
*/

/*
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #777;
}
.social .fa-github:hover {
    color: #343434;
}

.social .fa-linkedin:hover {
    color: #0077B5;
}

.social .fa-envelope:hover {
    color: #00ABE3;
}

.social .fa-file-text:hover {
    color: #e64522;
}
*/